*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    width:100%;
    height:100%;
}
#main{
    width:100%;
    height:100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    width:90%;
    height: 90%;
    max-width: 350px;
    color:#fff;
    background:linear-gradient(135deg,#00feba,#5b5484);
    border-radius: 30px;
    padding:30px 0;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items:center;

}
#search{
    /* background-color: red; */
    display: flex;
    gap:8px;
    /* margin-bottom: 35px; */
}
#search input{
    border:none;
    outline:none;
    border-radius: 20px;
    flex: 1;
    padding:3px 15px 1px 15px;
    font-size:14px;
    color:gray;
    min-width:fit-content;
}
#search button{
    width:37px;
    height:37px;
    border-radius: 50%;
    border:none;
    outline: none;
    /* transition: all 0.5s linear 0s; */
}
#search i{
    color:gray;
    cursor:pointer;
    transition: all 0.2s linear 0s;
}
#card #icon{
    margin:25px;
}
#card h1{
    font-size: 50px;
}
#card h2{
    margin: 3px;
    font-size:34px ;
    font-weight: 500;
}
#card #details{
    display: flex;
    margin: 33px;
    gap:60px;
}
#card #details .col{
    display: flex;
    gap:6px;
}
#card #details .col img{
    color:#fff;
}
#details .col .para{
    font-size: 12px;
}
#details .col .value{
    font-size: 20px;
}
#humidity , #wind{
    display: flex;
    flex-direction: column;
    gap:4px;
}
#card{
    height: fit-content;
}
#card #icon{
    display: none;
}
#card h1{
    display: none;
}
#card h2{
    display: none;
}
#card #details{
    display: none;
}
#card .error{
    color:rgb(123, 88, 88);
    display: flex;
    justify-content: start;
    margin:5px;
    font-size: 12px;
    font-weight: 600;
    position:absolute;
    top:8%;
    left:19%;
    display: none;
}
#search button:hover i{
    transform: scale(1.2);
}
